html, body {
    margin: 0;
    padding: 0;
}

.hat {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    width: 100%; 
    box-sizing: border-box; 
    position: sticky; 
    top: 0; 
    z-index: 10; 
}

.hat-text {
    color: white;
    font-size: 125px;
    font-weight: 167;
}

.hat-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hat-logo-white-space {
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
}

.hat-logo-photo {
    height: 125px;
    width: 125px;
    position: relative;
    z-index: 2;
}

.menu-buttons {
    justify-content: center;
    background-color: gold;
    background: linear-gradient(to right, #FFD700, #FFA500);
    display: flex;
    gap: 7vw;
}

.menu-buttons-button {
    margin-top: 7px;
    margin-bottom: 7px;

    height: 130%;
    
    button {
        width: 110%;
        height: 120%;
        border: 0px;
        border-radius: 10px;
        font-size: 43px;
        background-color: lightgray;
    }
}

.footer-content {
    background-color: black;
    color: white;
    font-size: 35px;
    justify-content: center;
    text-align: center; 
}

.media-blocks {
    display: flex;
    justify-content: center;
}
